/* Game View */
body {
  font-family: "Indie Flower", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.game-info {
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#word-display {
  font-size: 2rem;
  letter-spacing: 5px;
  margin: 20px 0;
}

#incorrect-guesses {
  font-size: 1.2rem;
  color: #d9534f;
}

label {
  font-size: 1rem;
  margin-top: 10px;
}

input {
  font-size: 1.5rem;
  width: 50px;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

/* hangman figure */

/* Hide figure */
#hangman-figure-section .hangman-figure path,
#hangman-figure-section .hangman-figure ellipse {
  visibility: hidden;
}

/* show parts of the figure when its wrong guess */
.hangman-figure.wrong-guess-1 #scaffold,
.hangman-figure.wrong-guess-2 #legs,
.hangman-figure.wrong-guess-3 #arms,
.hangman-figure.wrong-guess-4 #body,
.hangman-figure.wrong-guess-5 #head {
  visibility: visible;
}

/*dialog*/

.custom-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.custom-dialog button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
}

.custom-dialog button:hover {
  background-color: #45a049;
}
