@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}

/* Body */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/Chalkboard-bg.jpg') no-repeat center center fixed;
    background-size: cover; 
}

/* Start page container */
.start-page {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Img */
.option img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 5px;
}

/* When an image is clicked and selected */
.clickable-image.selected {
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

/* Display area for selected Avatar */
#avatar-character img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

/* Finish button */
#finish, #start-game {
    margin-top: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#finish:hover, #start-game:hover {
    background-color: darkgreen;
}

/* Display for game message */
#game-message {
    margin-top: 20px;    
}
