* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body 
{
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}

/* Gubbar */
.option img 
{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out;
}

.option img:hover
{
    transform: scale(1.05);
}

/* Score-box*/
#score-container 
{
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

/* Poängvy rubrik*/
h1 
{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;

}

/* underrubriker */
.gamer
{
    border-bottom: 3px solid white;
}


.score-lista 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score-item 
{
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.score-item p 
{
    color: white;

}

/*.result-columns
{
    display: grid;
    grid-template-columns: repeat(1fr); 
    gap: 60px;
    margin-top: 20px;
    padding: 20px;
}
    */

    .result-lista 
    {
        display: flex;  
        justify-content: space-between; 
        margin-top: 20px;
        width: 100%;
        flex-wrap: wrap;
    }

/* Kolumn för resultat */
.column 
{
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex: 1; /* Gör att varje kolumn delar lika på utrymmet */
    margin: 0 10px;
    text-align: center;
}

.gamer
{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.column p#result-name,
.column p#result-guess,
.column p#result-length,
.column p#result-time,
.column p#result-game {
    font-size: 1rem;
    color: #ddd;
    margin-top: 5px;
}

.column strong 
{
    font-weight: bold;
}

#button-container {
    display: flex;
    gap: 20px; 
    padding: 0 20px;
    bottom: 40px;
    top: 40px;
}

#sort-button, #newgame-button {
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 200px;

}

#sort-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

#newgame-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}
     

