* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body 
{
    font-family: "Indie Flower", serif;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Gubbar */
.option img 
{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out;
}

.option img:hover
{
    transform: scale(1.05);
}

/* Score-box*/
#score-container 
{
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 30px;
}

/* Poängvy rubrik*/
h1 
{
    font-size: 2rem;
    margin-bottom: 40px;
    border-bottom: 3px solid white;
}

.result-lista 
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

/* Resultat-listan */
.result-item 
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #444;
    align-items: center;
}

/* redigera rubriker kolumner */
.header-row 
{
    font-size: 20px; 
    color: #fff; 
    font-weight: bold;
    padding: 19px;
}

/* Kolumn för resultat */
.column
{
    background-color: #393636;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

/* Knappar */
button
{
    margin: 30px;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

button:hover 
{
    background-color: darkgreen;
    transform: scale(1.05);
}


