* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body 
{
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Gubbar */
.option img 
{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.option img:hover
{
    transform: scale(1.05);
}

/* Score-box*/
#score-container 
{
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

/* Poängvy rubrik*/
h1 
{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

/* underrubriker */
.gamer
{
    border-bottom: 3px solid white;
}


.score-lista 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score-item 
{
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.score-item p 
{
    color: white;

}

.result-columns
{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 60px;
    margin-top: 20px;
    padding: 20px;
}

/* Kolumn för resultat */
.column 
{
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 5px;
}

.column p 
{
    color: white;
}

.column strong 
{
    font-weight: bold;
}

#button-container {
    display: flex;
    gap: 820px; 
    padding: 0 20px;
    margin-top: 10px;
}

#sort-button, #newgame-button {
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
}

#sort-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

#newgame-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}
     

